html,
body {
  height: 100vh;
}

body {
  background: rgb(240, 242, 239);
  background: linear-gradient(
    0deg,
    rgba(125, 167, 203, 1) 0%,
    rgba(166, 204, 238, 1) 35%,
    rgba(240, 242, 239, 1) 85%
  );
  background-attachment: fixed;

  *::selection {
    background-color: rgb(3, 112, 207);
    color: rgb(255, 255, 255);
  }

  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
}

.wrapper#app {
  box-sizing: border-box;
  height: 100%;

  display: grid;
  grid-template: min-content 1fr min-content / 1fr;
}

.header {
  padding: 30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template: 1fr / min-content min-content 1fr;
  gap: 30px;
  align-items: center;

  & h1 {
    font-size: 2.2rem;
    margin: 0;
  }
}

.options {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: 15px;
}

.search-box {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 400px;
  padding: 8px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5ch;

  &:focus-within {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  }

  & input,
  & button {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    border: none;

    font-size: 1.3em;
    &:focus-within {
      box-shadow: none;
    }
  }

  & input {
    &:focus {
      outline: none;
    }
  }

  & button {
    width: min-content;
  }

  & button {
    &:focus {
      outline-color: rgb(21, 103, 255);
    }
    &:hover {
      cursor: pointer;
      color: rgb(21, 103, 255);
    }
  }
}

.switch {
  justify-self: end;
  width: min-content;

  background-color: rgb(197, 220, 241);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-flow: row nowrap;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  }

  & .state {
    min-width: 30px;
    height: 30px;
    padding: 0 5px;

    font-weight: bold;
    color: rgb(83, 98, 126);
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: rgb(3, 112, 207);
      color: rgb(215, 228, 255);
    }
  }
}

.content {
  padding: 30px;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
}

#weatherContainer {
  display: grid;
  & .error-message {
    font-size: 2rem;
    font-weight: bold;
  }
}

.loading-indicator {
  align-self: flex-start;
}

.weather-card {
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
  padding: 30px;
  border-radius: 20px;

  display: grid;
  grid-template: 1fr / 1fr;
  gap: 30px;

  & h1,
  & h2 {
    margin: 0;
  }
}

.weather-highlight {
  display: flex;
  justify-content: center;
  gap: 20px;

  & .weather-temperature {
    font-size: 5rem;
    justify-content: center;

    & .unit,
    & .value {
      font-weight: bold;
    }
  }
}

.weather-temperature {
  display: grid;
  grid-template: min-content / repeat(2, min-content);

  & .value {
    font-size: 1em;
  }
  & .unit {
    font-size: 0.6em;
  }
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & h2 {
    font-weight: normal;
  }
}

.weather-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 25px;
}

.detail-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail-title,
.detail-value {
  font-size: 1.3rem;
}

.detail-value {
  font-weight: bold;
}

.footer {
  color: rgb(19, 35, 48);
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5ch;

  & a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;

    &:hover,
    &:focus {
      color: rgb(24, 97, 157);
    }
  }
}
